{%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
{#                {% if category == 'info' %}#}
{#                    toastr.info("{{ message }}")#}
{#                {% elif category == 'warning' %}#}
{#                    toastr.warning("{{ message }}")#}
{#                {% elif category == 'success' %}#}
{#                    toastr.success("{{ message }}")#}
{#                {% elif category == 'error' %}#}
{#                    toastr.error("{{ message }}")#}
{#                {% endif %}#}
                    <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endwith %}