                <legend><h1 class="subheader">常见问题</h1></legend>
                <dl>
                    <dt>1、iDesktop支持哪些网盘？</dt>
                    <dd>现在只支持<a href="http://vdisk.weibo.com/" title="">微盘</a>,可以后能会支持百度网盘。</dd>
                    <dt>2、我点了下载按钮，然后怎么才能看到我下载的图片？</dt>
                    <dd>iDesktop会在您的微盘根目录创建一个名为idesktop的文件夹。如果您安装了微盘客户端，能在本地直接看到它。微盘网页版的查看地址是 <a href="http://vdisk.weibo.com/#/idesktop" title="">这里</a></dd>
                    <dt>3、怎么上传我自己的壁纸？</dt>
                    <dd>如果您安装了微盘客户端，直接把要上传的壁纸复制到本地的微盘目录下的idesktop文件夹即可。然后系统就会自动同步了，几分钟之后图片就会出现在网页上了。</dd>
                    <dt>4、会收费吗？</dt>
                    <dd>暂时不会。</dd>
                    <dt>5、怎么把本地的idesktop文件夹中的图片设置为壁纸，并自动切换？</dt>
                    <dd>请参考 <a href="http://jingyan.baidu.com/article/39810a23d690b6b636fda6a6.html" title="">win7如何自动更换桌面背景</a></dd>
                </dl>