{% extends 'metro/base.html' %}

{% block content %}
    <div class="container">
        <h1>设置</h1>

        <div class="grid">
            <div class="row">
                    <legend>连接网盘</legend>
                    {% if g.user.vdisk_connected %}
                        <div class="span3">
                        <a class="command-button bg-green" href="{{ url_for('unlink_vdisk') }}">
                            <i class="icon-vdisk on-right"></i>
                            已连接微盘
                            <small>点击取消</small>
                        </a>
                        </div>
                        <div class="span3">
                            <a class="command-button primary" href="{{ url_for('sync') }}">
                                <i class="icon-spin on-right"></i>
                                立刻同步
                                <small>点击同步</small>
                            </a>
                        </div>
                    {% else %}
                        <a class="command-button " href="{{ url_for('authorize') }}">
                            <i class="icon-vdisk on-right"></i>
                            未连接微盘.
                            <small>点击连接</small>
                        </a>
                    {% endif %}
            </div>
{#            <div class="row">#}
{#                <div class="span6">#}
{#                    <form action="">#}
{#                        <fieldset>#}
{#                            <legend>Setting</legend>#}
{#                            <lable>Label name</lable>#}
{#                            <div class="input-control text" data-role="input-control">#}
{#                                <input type="text" placeholder="type password">#}
{#                                <button class="btn-reveal" tabindex="-1"></button>#}
{#                            </div>#}
{#                            <lable>Label name</lable>#}
{#                            <div class="input-control text" data-role="input-control">#}
{#                                <input type="text" placeholder="type password">#}
{#                                <button class="btn-reveal" tabindex="-1"></button>#}
{#                            </div>#}
{#                            <input type="submit" value="Submit">#}
{#                        </fieldset>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="span4">#}
{#                    <form action="">#}
{#                        <fieldset>#}
{#                            <legend>Change Password</legend>#}
{#                            <lable>Label name</lable>#}
{#                            <div class="input-control password" data-role="input-control">#}
{#                                <input type="password" placeholder="type password">#}
{#                                <button class="btn-reveal" tabindex="-1"></button>#}
{#                            </div>#}
{#                            <lable>Label name</lable>#}
{#                            <div class="input-control password" data-role="input-control">#}
{#                                <input type="password" placeholder="type password">#}
{#                                <button class="btn-reveal" tabindex="-1"></button>#}
{#                            </div>#}
{#                            <lable>Label name</lable>#}
{#                            <div class="input-control password" data-role="input-control">#}
{#                                <input type="password" placeholder="type password">#}
{#                                <button class="btn-reveal" tabindex="-1"></button>#}
{#                            </div>#}
{#                            <input type="submit" value="Submit">#}
{#                        </fieldset>#}
{#                    </form>#}
{#                </div>#}
{##}
{#            </div>#}
        </div>
    </div>
{% endblock %}