{% extends 'metro/base.html' %}

{% from 'metro/pictures.html' import show_pictures %}
{% block content %}
    <div class="container">
        <div class="grid fluid">
            {% include 'metro/user_base.html' %}

            {{ show_pictures(pictures,3) }}
            <div class="pagination row">
                <ul>
                    {% if pictures %}

                        {% if pictures.has_prev %}
                            <li class="first"><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=1) }}"><i class="icon-first-2"></i></a></li>
                            <li class="prev"><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=pictures.prev_num) }}"><i class="icon-previous"></i></a></li>
                            <li class="space">...</li>
                            <li><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=pictures.page - 1) }}">{{ pictures.page - 1 }}</a></li>
                        {% endif %}
                        <li class="disabled"><a>{{ pictures.page }}</a></li>
                        {% if pictures.has_next %}
                            <li><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=pictures.page + 1) }}">{{ pictures.page + 1 }}</a></li>
                            <li class="space">...</li>
                            <li class="next"><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=pictures.next_num) }}"><i class="icon-next"></i></a></li>
                            <li class="last"><a href="{{ url_for('user_upload_page', vdisk_uid=user.vdisk_uid, page=pictures.pages) }}"><i class="icon-last-2"></i></a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}